body{
    background-color: rgb(226, 250, 250);
}

#steak, #salad {
    max-width:200px;
    max-height: 200px;
    object-fit: contain;
}

img{
    max-width: 75%;
}

h1 {
    background-color: lightblue;
    color: purple;
    text-align: center;
}

input {
    cursor: pointer;
}

p {
    font-weight: bold;
}

span {
    color: rgb(187, 3, 248);
}

